# PyCitySchools Challenge

## Create your DataFrame

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from IPython.display import display
from functools import reduce

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Display first 5 records
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Get a list of all of our columns for easy reference
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

# Part One
## District Summary

* Create a high level snapshot (in table form) of the district's key metrics, including:
    * Total number of schools
    * Total Students
    * Total Budget
    * Average Math Score
    * Average Reading Score
    * % Passing Math (The percentage of students that passed math.)
    * % Passing Reading (The percentage of students that passed reading.)
    * % Overall Passing (The percentage of students that passed math **and** reading.)
* Create a formatted dataframe to hold the above results

### Display Total Number Of Schools

In [107]:
# Use nunique function to find total number of schools
total_schools = school_data_complete['school_name'].nunique()

# Display output
print(f'Total number of schools represented in the dataset: {total_schools}')

Total number of schools represented in the dataset: 15

### Display Total Number of Students (Districtwide)

In [108]:
# Use length function to find total students
total_students = len(school_data_complete)

# Insert comma
total_students_formatted = ("{:,}".format(total_students))

# Display output
print(f'Total number of students across {total_schools} schools: {total_students_formatted}')

Total number of students across 15 schools: 39,170

### Calculate Total Budget (Districtwide)

In [109]:
# Find total budget using unique and sum function
total_budgets = school_data_complete['budget'].unique().sum()

# Insert comma
total_budgets_formatted = ("{:,}".format(total_budgets))

# Display output
print(f'Total budget for {total_students_formatted} students, across {total_schools} schools: ${total_budgets_formatted}')

Total budget for 39,170 students, across 15 schools: $24,649,428

### Calculate Average Math Score (Districtwide)

In [110]:
# Use mean function
math_average = school_data_complete['math_score'].mean()

# Display output
print(f'Average district math score: {math_average}')

Average district math score: 78.98537145774827

### Calculate Average Reading Score (Districtwide)

In [111]:
# Use mean function
reading_average = school_data_complete['reading_score'].mean()

# Display output
print(f'Average district reading score: {reading_average}')

Average district reading score: 81.87784018381414

### Calculate Percentage Of Students With A Passing Math Score (70 or greater)

In [112]:
# STEP 1: select rows based on condition 
passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]
# passing_math

# STEP 2: Relay how many students exist within the conditional (>=70) dataframe  
districtwide_passing_math = passing_math.shape[0]

# Step 3: Calculate percentage of students passing math 
math_percentage = (districtwide_passing_math / total_students) * 100

# Display output
print(f'Percentage of students districtwide passing math score greater than or equal to 70: {math_percentage}')

Percentage of students districtwide passing math score greater than or equal to 70: 74.9808526933878

### Calculate Percentage Of Students With A Passing Reading Score (70 or greater)

In [113]:
# STEP 1: select rows based on condition 
passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70]

# STEP 2: Relay how many students exist within the conditional (>=70) dataframe how many
#Subsetting: give me back ALL the rows where reading scores >= 70
districtwide_passing_reading = passing_reading.shape[0]

# Step 3: Calculate percentage of students passing reading 
reading_percentage = (passing_reading.shape[0] / total_students) * 100

# Display output
print(f'Percentage of students districtwide with a passing reading score greater than or equal to 70: {reading_percentage}')

Percentage of students districtwide with a passing reading score greater than or equal to 70: 85.80546336482001

### Calculate The Percentage Of Students Who Passed Math & Reading (% Overall Passing)

In [123]:
# Step 1: Grab the number of students that passed both 
subset = passing_reading.loc[passing_reading['math_score'] >= 70]
passing_both = subset.shape[0]


# Step 2: Divide total number of students passing both math and reading over totla students
percentage_both_districtwide = (passing_both / total_students) * 100. 


# Display Ouput
print(f'Number of students (districtwide) that passed both math and reading: {passing_both}')

print(f'Percentage of students districtwide with a passing score (>=70) in both math and reading: {percentage_both_districtwide}')

Number of students (districtwide) that passed both math and reading: 25528
Percentage of students districtwide with a passing score (>=70) in both math and reading: 65.17232575950983

### Create A Dataframe To Hold The District Summary

In [124]:
summary_df = pd.DataFrame({"Total Schools":[total_schools],
                          "Total Students":[total_students],
                          "Total Budget":[total_budgets],
                          "Average Math Score":[math_average],
                          "Average Reading Score":[reading_average],
                          "Percent Passing Math":[math_percentage],
                          "Percent Passing Reading":[reading_percentage],
                          "# Students Passing": [passing_both],
                          "Percent Overall Passing Rate":[percentage_both_districtwide]})

summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,# Students Passing,Percent Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,25528,65.172326

### Format The District Summary Dataframe

In [125]:
# Use Map Function to format all relevant columns to stop at 2 decimal places and insert commas

summary_df["Average Math Score"] = summary_df["Average Math Score"].map("{:.2f}".format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map("{:.2f}".format)
summary_df["Percent Passing Math"] = summary_df["Percent Passing Math"].map("{:.2f}".format)
summary_df["Percent Passing Reading"] = summary_df["Percent Passing Reading"].map("{:.2f}".format)
summary_df["Percent Overall Passing Rate"] = summary_df["Percent Overall Passing Rate"].map("{:.2f}".format)
                                                            
summary_df["Total Budget"] = summary_df["Total Budget"].map("{:,}".format) 
summary_df["Total Students"] = summary_df["Total Students"].map("{:,}".format) 
summary_df["# Students Passing"] = summary_df["# Students Passing"].map("{:,}".format) 

# Display Final Results in Table
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,# Students Passing,Percent Overall Passing Rate
0,15,"39,170","24,649,428",78.99,81.88,74.98,85.81,"25,528",65.17

## District Summary

In [126]:
print("District Summary Analysis")
print("----------------------------------")

print(f"Total Number of Schools: {total_schools}")
print(f"Total Number of Students: {total_students_formatted}")
print(f"Total Budget: {total_budgets_formatted}")
print(f"Average Math Score (%): {math_average}")
print(f"Average Reading Score (%): {reading_average}")
print(f"Total Number of Students Passing: {passing_both}")
print(f"Overall Passing (%): {percentage_both_districtwide}")

District Summary Analysis
----------------------------------
Total Number of Schools: 15
Total Number of Students: 39,170
Total Budget: 24,649,428
Average Math Score (%): 78.98537145774827
Average Reading Score (%): 81.87784018381414
Total Number of Students Passing: 25528
Overall Passing (%): 65.17232575950983

# Part Two 

## Schools Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a formatted dataframe to hold the above results

### List Each High School By Name

In [127]:
# Pull names of all high schools
school_names = school_data_complete['school_name'].unique()
#school_names

# Convert 'school_names' array to a list
school_names.tolist()

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

### Calculate Total Number Of Students Filtered By School

In [128]:
# Use .valuecounts() to obtain counts of unique variable 'school_name'
total_students = school_data_complete["school_name"].value_counts()

# Display output
total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

### Display School Type Filtered By School

In [129]:
# Use groupby in order to separate the data into fields according to 'school_name' values
school_type1 = school_data_complete[["school_name","type"]]
school_type1.sample(5)  

# The output returned is a "Groupby" object and cannot be viewed normally - this is not a dataframe
school_type = school_type1.groupby(["school_name"])

# In order to be visualized, use a data function to tell the computer how to aggregate the data
district_or_charter_df = school_type.first() 

# Display 1st 5 records
district_or_charter_df.head() 
#type(district_or_charter_df)

                          type
school_name
Bailey High School    District
Cabrera High School    Charter
Figueroa High School  District
Ford High School      District
Griffin High School    Charter

### Calculate Each School's Total Budget  &  Budget Per Capita

In [130]:
# Step 1: Use GroupBy in order to separate the data into fields according to "school_name" values

grouped = school_data_complete.groupby(['school_name']) 
# The output returned is a "Groupby" object and cannot be viewed without calling a function
    #print(grouped)

# Step 2: Filter each school by budget by school to create numerator

budget_by_school = grouped["budget"].first() 
print(budget_by_school)

# Step 3: Calculate number of students for each school to create denominator
students_by_school = grouped["size"].count()
print(students_by_school)

# Step 4: Calculate per student budget by school
student_budget_per_capita = budget_by_school / students_by_school

# Display output
print(student_budget_per_capita)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64
school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64
school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

### Calculate Average Math Score & Average Reading School Filtered By School

In [25]:
# Average math score by school
avg_math_by_school = grouped["math_score"].mean()

# Average reading score by school
avg_reading_by_school = grouped["reading_score"].mean()

# Display output
print(avg_math_by_school)
print(avg_reading_by_school)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

### Calculate % Passing Math Filtered By School Name

In [131]:
# Step 1: Retrieve the values from 'passing_math' from the District Summary and groupby school
passing_math_schools = passing_math.groupby("school_name")
#display(passing_math_schools.count())    

# Step 2: Determine how many students by school passed math
passing_math_by_school = passing_math_schools.size()

# Step 3: Determine how many students by school (total students by school)
total_students_by_school = grouped["size"].size()

# Step 4: Calculate % Passing Math filtered by school
percent_math_grouped = 100 * (passing_math_by_school / total_students_by_school)  

# Display output
display(passing_math_schools.size())  
display(grouped["size"].size()) 
display(percent_math_grouped)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

### Calculate % Passing Reading Filtered By School Name

In [132]:
# Step 1: Retrieve the values from 'passing_reading' from the District Summary and groupby school
passing_reading_schools = passing_reading.groupby("school_name")
#display(passing_reading_schools.count()) 

# Step 2: Determine how many students by school passed reading
passing_reading_by_school = passing_reading_schools.size()

# Step 3: Determine how many students by school (total students by school)
total_students_by_school = grouped["size"].size()  

# Step 4: Calculate % passing reading
percent_reading_grouped = 100 * (passing_reading_by_school / total_students_by_school)

# Display output
display(passing_reading_schools.size())  
display(grouped["size"].size()) 
display(percent_reading_grouped)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

### Calculate % Overall Passing (Percentage Of Students Passing Both Math & Reading) Filtered By School

In [136]:
# Step 1: Create a Boolean Mask to find all students that satisfy both conditions
passing_both = passing_reading.loc[passing_reading['math_score'] >= 70]
#print(passing_both)

# Step 2: Calculate % Overall Passing (reuse variable 'total_students_by_school' for denominator)
percent_overall_passing = 100 * (passing_both.groupby("school_name").size()) / total_students_by_school

# Dsiaply output
display(percent_overall_passing)

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [137]:
# Step 1: Determine 'Overall Passing' Type
type(percent_overall_passing)

# Step 2: Convert 'percent_overall_passing' from series to dataframe

# Method 1 
percent_overall_passing_df = pd.DataFrame(percent_overall_passing)
#print(passing_both_df)

# Method 2 
#passing_both_grouped.to_frame()
#type(passing_both_grouped_df)

# Step 3: Assign a name to 0th column  
percent_overall_passing_df = percent_overall_passing_df.rename(columns={(0):"overall_passing"}) 

# Step 4: Display Top Performing Schools 
top_5_df = percent_overall_passing_df.sort_values(['overall_passing'], ascending=False).head(n=5)

# Display output
display(top_5_df)

                     overall_passing
school_name
Cabrera High School        91.334769
Thomas High School         90.948012
Griffin High School        90.599455
Wilson High School         90.582567
Pena High School           90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [138]:
# Display Bottom Performing Schools 
bottom_5_df = percent_overall_passing_df.sort_values(['overall_passing'], ascending=False).tail(n=5)

display(bottom_5_df)

worst_schools = bottom_5_df.index.tolist()

print(f'The bottom five performing schools are: {worst_schools}')

                       overall_passing
school_name
Johnson High School          53.539172
Hernandez High School        53.527508
Huang High School            53.513884
Figueroa High School         53.204476
Rodriguez High School        52.988247

The bottom five performing schools are: ['Johnson High School', 'Hernandez High School', 'Huang High School', 'Figueroa High School', 'Rodriguez High School']

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [139]:
# Mean Math and Reading Scores by School and Grade

# Step 1 - Use conditional statements to group by grade 
ninth_graders = school_data_complete[(school_data_complete["grade"]) == "9th"] 
tenth_graders = school_data_complete[(school_data_complete["grade"]) == "10th"] 
eleventh_graders = school_data_complete[(school_data_complete["grade"]) == "11th"] 
twelth_graders = school_data_complete[(school_data_complete["grade"]) == "12th"] 

# Step 2: Calculate the mean 
ninth_math_avg_by_school = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_math_avg_by_school = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_math_avg_by_school = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelth_math_avg_by_school = twelth_graders.groupby(["school_name"]).mean()["math_score"]

In [140]:
display(ninth_math_avg_by_school)
type(ninth_math_avg_by_school)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

pandas.core.series.Series

In [141]:
# Step 1: Convert 'ninth_math_avg_by_school' series to dataframe to hold data:
math_scores = pd.DataFrame(ninth_math_avg_by_school) 

# Step 2: Insert columns to hold data for 10th-12th grades
math_scores.insert(1,"10th",tenth_math_avg_by_school,True)
math_scores.insert(2,"11th",eleventh_math_avg_by_school,True)
math_scores.insert(3,"12th",twelth_math_avg_by_school,True)

# Step 3: Rename columns and show output
math_scores = math_scores.rename(columns ={'math_score': '9th'})
math_scores = math_scores.round(2)
display(math_scores)

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [34]:
# Mean Reading Scores by School and Grade
ninth_reading_avg_by_school = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_reading_avg_by_school = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_reading_avg_by_school = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelth_reading_avg_by_school = twelth_graders.groupby(["school_name"]).mean()["reading_score"]

# Convert series to dataframe to hold data:
reading_scores = pd.DataFrame(ninth_reading_avg_by_school)

reading_scores.insert(1,"10th",tenth_reading_avg_by_school,True)
reading_scores.insert(2,"11th",eleventh_reading_avg_by_school,True)
reading_scores.insert(3,"12th",twelth_reading_avg_by_school,True)

reading_scores = reading_scores.rename(columns={'reading_score': '9th'}) 

reading_scores = reading_scores.round(2)

display(reading_scores)

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [35]:
# Create a dictionary to hold mean 'Reading Scores' by school and grade
reading_dict = reading_scores.to_dict()

reading_dict

{'9th': {'Bailey High School': 81.3,
  'Cabrera High School': 83.68,
  'Figueroa High School': 81.2,
  'Ford High School': 80.63,
  'Griffin High School': 83.37,
  'Hernandez High School': 80.87,
  'Holden High School': 83.68,
  'Huang High School': 81.29,
  'Johnson High School': 81.26,
  'Pena High School': 83.81,
  'Rodriguez High School': 80.99,
  'Shelton High School': 84.12,
  'Thomas High School': 83.73,
  'Wilson High School': 83.94,
  'Wright High School': 83.83},
 '10th': {'Bailey High School': 80.91,
  'Cabrera High School': 84.25,
  'Figueroa High School': 81.41,
  'Ford High School': 81.26,
  'Griffin High School': 83.71,
  'Hernandez High School': 80.66,
  'Holden High School': 83.32,
  'Huang High School': 81.51,
  'Johnson High School': 80.77,
  'Pena High School': 83.61,
  'Rodriguez High School': 80.63,
  'Shelton High School': 83.44,
  'Thomas High School': 84.25,
  'Wilson High School': 84.02,
  'Wright High School': 83.81},
 '11th': {'Bailey High School': 80.95,
  'Cabrera High School': 83.79,
  'Figueroa High School': 80.64,
  'Ford High School': 80.4,
  'Griffin High School': 84.29,
  'Hernandez High School': 81.4,
  'Holden High School': 83.82,
  'Huang High School': 81.42,
  'Johnson High School': 80.62,
  'Pena High School': 84.34,
  'Rodriguez High School': 80.86,
  'Shelton High School': 84.37,
  'Thomas High School': 83.59,
  'Wilson High School': 83.76,
  'Wright High School': 84.16},
 '12th': {'Bailey High School': 80.91,
  'Cabrera High School': 84.29,
  'Figueroa High School': 81.38,
  'Ford High School': 80.66,
  'Griffin High School': 84.01,
  'Hernandez High School': 80.86,
  'Holden High School': 84.7,
  'Huang High School': 80.31,
  'Johnson High School': 81.23,
  'Pena High School': 84.59,
  'Rodriguez High School': 80.38,
  'Shelton High School': 82.78,
  'Thomas High School': 83.83,
  'Wilson High School': 84.32,
  'Wright High School': 84.07}}

### Create Schools  Summary Dataframe

In [49]:
# Step 1: Create a dataframe to display student population, school budget and per capita budget by school

budget_df = pd.DataFrame({"Student Population": total_students, "Budget": students_by_school, 
                          "Per Capita Budget": student_budget_per_capita}).reset_index() 

budget_df = budget_df.rename(columns={'index': 'school_name'})

budget_df.head()

            school_name  Student Population  Budget  Per Capita Budget
0    Bailey High School                4976    4976              628.0
1   Cabrera High School                1858    1858              582.0
2  Figueroa High School                2949    2949              639.0
3      Ford High School                2739    2739              644.0
4   Griffin High School                1468    1468              625.0

In [50]:
# Step 2: Create a dataframe to reflect average math score and average reading score by school

averages_df = pd.DataFrame({"Average Math Score": avg_math_by_school,
                            "Average Reading Score": avg_reading_by_school,}).reset_index()

averages_df.head()

            school_name  Average Math Score  Average Reading Score
0    Bailey High School           77.048432              81.033963
1   Cabrera High School           83.061895              83.975780
2  Figueroa High School           76.711767              81.158020
3      Ford High School           77.102592              80.746258
4   Griffin High School           83.351499              83.816757

In [51]:
# Step 3: Create a dataframe for to reflect average math score and average reading score by school

percentages_df = pd.DataFrame({"Pass Math (%)": percent_math_grouped, "Pass Reading (%)": percent_reading_grouped, 
                               "Pass Both (%)": percent_overall_passing}).reset_index()

percentages_df.head()

            school_name  Pass Math (%)  Pass Reading (%)  Pass Both (%)
0    Bailey High School      66.680064         81.933280      54.642283
1   Cabrera High School      94.133477         97.039828      91.334769
2  Figueroa High School      65.988471         80.739234      53.204476
3      Ford High School      68.309602         79.299014      54.289887
4   Griffin High School      93.392371         97.138965      90.599455

In [52]:
# Step 4: Compile the list of dataframes you want to merge
data_frames = [district_or_charter_df, budget_df, averages_df, percentages_df]

In [61]:
# Step 5: Merge dataframes
# Module imported to ue reduce: from functools import reduce

data_frames = [district_or_charter_df, budget_df, averages_df, percentages_df]
df_final = reduce(lambda left,right: pd.merge(left,right,on='school_name'), data_frames)

df_final_1 = df_final.rename(columns={'school_name': 'School Name', 'type': 'Type'})

df_final_1.head()

,School Name,Type,Student Population,Budget,Per Capita Budget,Average Math Score,Average Reading Score,Pass Math (%),Pass Reading (%),Pass Both (%)
0,Bailey High School,District,4976,4976,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,Cabrera High School,Charter,1858,1858,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,Figueroa High School,District,2949,2949,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,Ford High School,District,2739,2739,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,1468,1468,625.0,83.351499,83.816757,93.392371,97.138965,90.599455

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [62]:
# Step 1: create bins to hold values
ranges = [0, 585, 630, 645, 680]

# Step 2: name the bins
bin_names = ["<$585", "585-630", "630-645", "645-680"]

# Step 3: Add a bins column 
df_final["Spending Ranges (Per Student)"] = pd.cut(df_final['Per Capita Budget'], ranges, labels=bin_names)

# Step 4: Create a new DataFrame 
budget_analysis = df_final.groupby("Spending Ranges (Per Student)").mean()[['Average Math Score', 'Average Reading Score','Pass Math (%)', 'Pass Reading (%)', 
                                 'Pass Both (%)']]  
# Step 5: Show output
budget_analysis

,Average Math Score,Average Reading Score,Pass Math (%),Pass Reading (%),Pass Both (%)
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
585-630,81.899826,83.155286,87.133538,92.718205,81.418596
630-645,78.518855,81.624473,73.484209,84.391793,62.857656
645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Create a table that breaks down school performances based on School Size (Student Population). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [63]:
# Step 1: create bins to hold values
ranges = [0, 1000, 2000, 5000]

# Step 2: name the bins
bin_names = ["Small (<1000)", "Medium (1000-2000)", "Large 2000-5000"]

# Step 3: Add a bins column 
df_final["School Size"] = pd.cut(df_final['Student Population'], ranges, labels=bin_names)

# Step 4: Create a new DataFrame 
school_size_analysis = df_final.groupby("School Size").mean()[['Average Math Score', 'Average Reading Score','Pass Math (%)', 'Pass Reading (%)', 
                                 'Pass Both (%)']]  

# Step 5: Show output
school_size_analysis

,Average Math Score,Average Reading Score,Pass Math (%),Pass Reading (%),Pass Both (%)
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large 2000-5000,77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Create a table that breaks down school performances based on School Type (District or Charter). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [84]:
# Step 1: Select Columns
school_type = df_final[['type','Average Math Score', 'Average Reading Score',
                                          'Pass Math (%)', 'Pass Reading (%)', 'Pass Both (%)']] 

# Step 2: Group by school type and average columns
school_type_analysis = school_type.groupby('type').mean()

# Step 3: Show output
school_type_analysis

,Average Math Score,Average Reading Score,Pass Math (%),Pass Reading (%),Pass Both (%)
type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208